<% provide(:title, @user.name) %>
<div class="row">
    <div class="user_head col-md-12">
        <aside class="col-md-3">
            <%= render 'user_head' %>
        </aside>
        <aside class="col-md-9">
            <ul class="nav nav-pills user_menu">
                <li><%= link_to "个人书架", shelfbooks_user_path(@user) %></li>
                <li><%= link_to "我的书单", my_booklists_user_path(@user) %></li>
                <li class="active"><%= link_to "关注书单", my_focus_booklists_user_path(@user) %></li>
                <li><%= link_to "粉丝", fans_user_path(@user) %></li>
                <li><%= link_to "关注", followeds_user_path(@user) %></li>
            </ul>
        </aside>
    </div>
    <div class="user_body">
        <aside class="col-md-4">
            <%= render 'user_left' %>
        </aside>
        <aside class="col-md-8">
            <ul class="shudan">
                <% @my_focus_booklists.each do |booklist| %>
                    <section>
                        <li class="col-sm-12">
                            <div class="col-sm-9 shudan_title">
                                <p><%= link_to booklist.title, booklist, target: "_blank" %></p>
                                <p>书单标题</p>
                            </div>
                            <div class="col-sm-1">
                                <p>99</p>
                                <p>本书</p>
                            </div>
                            <div class="col-sm-2">
                                <p><%= booklist.follow_booklists.length %></p>
                                <p>
                                    <%= render :partial => 'shared/focus_booklist', :locals => { :obj => booklist, :button_type => "xs" } %>
                                </p>
                            </div>
                        </li>
                    </section>
                <% end %>
            </ul>
            <div style="text-align:right;">
                <%= will_paginate @my_focus_booklists, previous_label: '<< 上一页', next_label: '下一页 >>' %>
            </div>
        </aside>
    </div>
</div>
