<% provide(:title, @user.name) %>
<div class="row">
    <div class="user_head col-md-12">
        <aside class="col-md-3">
            <div class="col-sm-6">
                <section>
                    <%= gravatar_for @user, size: 80 %>
                </section>
                <section>
                    <h1><%= @user.name %></h1>
                </section>
            </div>
            <div class="col-sm-6 focus_button">
                <%= link_to "关注Ta", '#', class: "btn btn-small btn-primary" %>
            </div>
        </aside>
        <aside class="col-md-9">
            <ul class="nav nav-pills user_menu">
                <li class="active"><%= link_to "个人书架", user_path(@user) %></li>
                <li><%= link_to "我的书单", '#' %></li>
                <li><%= link_to "关注书单", '#' %></li>
                <li><%= link_to "粉丝", '#' %></li>
                <li><%= link_to "关注", '#' %></li>
            </ul>
        </aside>
    </div>
    <div class="user_body">
        <aside class="col-md-4">
            <section>
                <%= link_to user_path(@user), class: "col-sm-3" do %>
                    <strong id="shelfbooks_num"><%= @user.books.count %></strong>
                    <span>我的书架</span>
                <% end %>
                <%= link_to '#', class: "col-sm-3" do %>
                    <strong>10</strong>
                    <span>关注书单</span>
                <% end %>
                <%= link_to '#', class: "col-sm-3" do %>
                    <strong>20</strong>
                    <span>粉丝数</span>
                <% end %>
                <%= link_to '#', class: "col-sm-3" do %>
                    <strong>30</strong>
                    <span>关注数</span>
                <% end %>
            </section>
            <section>
                <%= link_to "新建书单", '#', class: "btn btn-small btn-primary btn-block" %>
            </section>
        </aside>
        <aside class="col-md-8">
            <ul class="shelflist">
                <% @books.each do |book| %>
                    <section><li class="col-sm-12">
                        <div class="cover col-sm-2">
                            <%= link_to(book, target: "_blank") do %>
                                <%= image_tag book.cover, width: "40", height: "50", alt: book.name %>
                            <% end %>
                        </div>
                        <div class="col-sm-7">
                            <div class="name">
                                <%= link_to book.name, book, target: "_blank" %>
                            </div>
                            <div class="author">
                                <%= "作者: #{book.author}" %>
                            </div>
                            <div class="rating">
                                <%= "评分: (0人评价) 0.0" %>
                            </div>
                        </div>
                        <div class="bookshelf col-sm-3">
                            <%= render 'shared/follow_book_form', object: book %>
                        </div>
                    </li></section>
                <% end %>
            </ul>
            <%= will_paginate @books, previous_label: '<< 上一页', next_label: '下一页 >>' %>
        </aside>
    </div>
</div>
