<% provide(:title, @user.name) %>
<div class="row">
    <div class="user_head col-md-12">
        <aside class="col-md-3">
            <div class="col-sm-6">
                <section>
                    <%= gravatar_for @user, size: 80 %>
                </section>
                <section>
                    <h1><%= @user.name %></h1>
                </section>
            </div>
            <div class="col-sm-6 focus_button">
                <%= link_to "关注Ta", '#', class: "btn btn-small btn-primary" %>
            </div>
        </aside>
        <aside class="col-md-9">
            <ul class="nav nav-pills user_menu">
                <li class="active"><%= link_to "个人书架", '#' %></li>
                <li><%= link_to "我的书单", '#' %></li>
                <li><%= link_to "关注书单", '#' %></li>
                <li><%= link_to "粉丝", '#' %></li>
                <li><%= link_to "关注", '#' %></li>
            </ul>
        </aside>
    </div>
    <div class="user_body">
        <aside class="col-md-3">
            <section>
                <%= link_to '#', class: "col-sm-4" do %>
                    <strong>10</strong>
                    <span>关注书单</span>
                <% end %>
                <%= link_to '#', class: "col-sm-4" do %>
                    <strong>20</strong>
                    <span>粉丝数</span>
                <% end %>
                <%= link_to '#', class: "col-sm-4" do %>
                    <strong>30</strong>
                    <span>关注数</span>
                <% end %>
            </section>
            <section>
                <%= link_to "新建书单", '#', class: "btn btn-small btn-primary btn-block" %>
            </section>
        </aside>
        <aside class="col-md-9"></aside>
    </div>
</div>
