<% provide(:title, @user.name) %>
<div class="row">
    <div class="user_head col-md-12">
        <aside class="col-md-3">
            <%= render 'user_head' %>
        </aside>
        <aside class="col-md-9">
            <ul class="nav nav-pills user_menu">
                <li class="active"><%= link_to "个人书架", shelfbooks_user_path(@user) %></li>
                <li><%= link_to "我的书单", my_booklists_user_path(@user) %></li>
                <li><%= link_to "关注书单", my_focus_booklists_user_path(@user) %></li>
                <li><%= link_to "粉丝", fans_user_path(@user) %></li>
                <li><%= link_to "关注", followeds_user_path(@user) %></li>
            </ul>
        </aside>
    </div>
    <div class="user_body">
        <aside class="col-md-4">
            <%= render 'user_left' %>
        </aside>
        <aside class="col-md-8">
            <ul class="shelflist">
                <% @books.each do |book| %>
                    <section><li class="col-sm-12">
                        <div class="cover col-sm-2">
                            <%= link_to(book, target: "_blank") do %>
                                <%= image_tag book.cover, width: "40", height: "50", alt: book.name %>
                            <% end %>
                        </div>
                        <div class="col-sm-7">
                            <div class="name">
                                <%= link_to book.name, book, target: "_blank" %>
                            </div>
                            <div class="author">
                                <%= "作者: #{book.author}" %>
                            </div>
                            <div class="rating">
                                <% get_rating_data(book) %>
                                <%= "评分: (#{@rating_counts}人评价) #{@avg_rating}" %>
                            </div>
                        </div>
                        <div class="bookshelf col-sm-3">
                            <%= render 'shared/follow_book_form', object: book %>
                        </div>
                    </li></section>
                <% end %>
            </ul>
            <div style="text-align:right;">
                <%= will_paginate @books, previous_label: '<< 上一页', next_label: '下一页 >>' %>
            </div>
        </aside>
    </div>
</div>
